body {
    background-image: url('../public/Images/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Keeps background fixed during scroll */
    min-height: 100vh;
    margin: 0;
  }
  .formdata {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
  }